
.wholeExpansionBoard {
  display: none;
    /* Just for visualization */
  }

  @media screen and (max-width: 1200px) {
    .wholeDiv {
      transform: scale(0.7);
      /* Adjust the scale factor as needed */
      transform-origin: center center;
      border: 15px solid rgb(255, 157, 0);
      /* Just for visualization */
      outline: 3px solid black;
    }
  }

  .expansionContainerRow1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .expansionContainerRow2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -60px;
  }

  .expansionContainerRow3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -120px;
  }

  .expansionContainerRow4 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -180px;
  }

  .expansionContainerRow5 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -240px;
  }

  .expansionContainerRow6{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -300px;
  }

  .expansionContainerRow7 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -360px;
  }

  .box {
    padding: 5px;
  }

  .container {
    position: relative;
  }

  .image {
    width: 250px;
    height: 250px;
    display: block;
  }

  .text-overlay {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 4px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
